body {
  background-color: green;
  box-sizing: border-box;
}

.card {
  display: flex;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  background: white;
  margin: auto;
  width: 200px;
  height: 250px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  text-align: center;
}

.card::before, .card::after {
  content: attr(data-palo);
  font-size: 40px;
  position: absolute;
}

.card::before {
  top: 10px;
  left: 10px;
}

.card::after {
  bottom: 10px;
  right: 10px;
}

.spade::before, .spade::after {
  content: "♠";
}

.heart::before, .heart::after {
  content: "♥";
  color: red; 
}

.diamond::before, .diamond::after {
  content: "♦";
  color: red; 
}

.club::before, .club::after {
  content: "♣";
}
